$screen_breakpoint = <%= vw %>px;
$width_on_lg = <%= vw %>px;
$dialog_width = 70%;
$dialog_width_ = .7;
$ff = "微软雅黑", "Microsoft YaHei", "Helvetica Neue", "Helvetica", Arial, serif;

clearfix() {
  &:after, &:before {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: left;
  }
}

abso($x, $y, $w, $h) {
  position: absolute;
  left: $x;
  top: $y;
  width: $w;
  height: $h;
}

absCenter($position = absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

absCover($position = absolute) {
  position: $position;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

icon($pos = 'before', $w = 1.5em, $h = 1.5em, $url = "") {
  &:{$pos} {
    content: " ";
    display: inline-block;
    width: $w;
    height: $h;
    background: url($url) center no-repeat;
    background-size: contain;
    {block}
  }
}

relativeHeight($percentage = 100%, $pos = 'after') {
  &:{$pos} {
    content: " ";
    display: block;
    height: 0;
    padding-bottom: $percentage;
    {block}
  }
}

relativeHeightImage($url, $percentage) {
  background: url($url) no-repeat;
  background-size: 100%;
  relativeHeight($percentage) {
    {block}
  }
}

scrollableY($height) {
  height: $height;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

ellipsis($line = 1) {
  overflow-x: hidden;
  text-overflow: ellipsis;
  if $line > 1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  } else {
    white-space: nowrap;
  }
}

textWithBg($bg) {
  background: $bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

avatar($d) {
  width: $d;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  relativeHeight(100%);
}

circleBadge($d) {
  display: block;
  border-radius: 50%;
  width: $d;
  if is-percentage($d) {
    relativeHeight(100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  else {
    height: $d;
    line-height: $d;
    text-align: center;
  }
}
