html, body
  height: 100%

body
  background-color white
  color $default-font-color
  font-family $default-font-stack
  line-height $default-line-height
  font-size $default-font-size
  overflow-x: hidden

a
  &:link
    color $link-default-color
    text-decoration none
    transition color .2s
  &:visited
    color $link-default-color
  &:hover
    color $link-active-color
  &:active
    color $link-active-color

h1
  font-size $font-size-h1
  line-height 1

h2
  font-size $font-size-h2
  line-height 1

h3
  font-size $font-size-h3
  line-height 1

h4
  font-size $font-size-h4
  line-height 1

h5
  font-size $font-size-h5
  line-height 1

h6
  font-size $font-size-h6
  line-height 1
