.-float-left
  float: left !important
.-float-right
  float: right !important

.-center-text
  text-align: center !important
.-faded
  opacity: 0 !important
.-hidden
  display: none !important
.-bold
  font-weight: bold !important
.-no-outline
  outline: none !important
.-no-mr
  margin-right: 0 !important
.-no-ml
  margin-left: 0 !important
.-no-mt
  margin-top: 0 !important
.-no-mb
  margin-bottom: 0 !important
.-no-pr
  padding-right: 0 !important
.-no-pl
  padding-left: 0 !important
.-no-pt
  padding-top: 0 !important
.-no-pb
  padding-bottom: 0 !important
