$default-font-color = black

$default-font-stack = 'Helvetica Neue', HelveticaNeue, Helvetica, 'PingFange SC', 'Source Han Sans CN', 'Noto Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif

$default-font-size = 14px

$default-line-height = 1

$font-size-h1 = 30px
$font-size-h2 = 24px
$font-size-h3 = 18px
$font-size-h4 = 16px
$font-size-h5 = 14px
$font-size-h6 = 12px

$page-background-color = <%=bgColor %>

$screen-breakpoint = 768px

$screezed-width = 320px

$design-width = <%=psWidth %>px

$link-default-color = inherit
$link-active-color = inherit
